<div class="panel-header panel-header-lg">
  <div class="card filter">
    <form>
      <div class="row">
      <div class="input-group no-border col-md-5">
        <input class="form-control" [(ngModel)]="searchString" placeholder="Search..." [ngModelOptions]="{standalone: true}" >
        
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="now-ui-icons ui-1_zoom-bold"></i>
          </div>
        </div>
      </div>
      
      <div class="col-md-5">
        <div class="input-group">
          <input type="text" placeholder="Date" class="form-control" bsDatepicker>

        </div>
      </div>
      <div class="col-md-2">
      
        <input type="submit"class="btn btn-info btn-width"  value="filter" (click)="searchDoctor()">
      </div>
    </div>
    </form>
  </div>

  <!-- <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas> -->
</div>

<div class="main-content">
  <div class="row">
    <!-- <div class="col-lg-4">

      <div _ngcontent-c6="" class="card card-user">
        <div _ngcontent-c6="" class="image"></div>
        <div _ngcontent-c6="" class="card-body">
          <div _ngcontent-c6="" class="author"><a _ngcontent-c6="" href="#"><img _ngcontent-c6="" alt="..."
                class="avatar border-gray" src="../assets/img/doctor.png">
              <h5 _ngcontent-c6="" class="title">perera</h5>
            </a>
            <p _ngcontent-c6="" class="description"> michael24 </p>
          </div>
          <p _ngcontent-c6="" class="description text-center"> "Lamborghini Mercy <br _ngcontent-c6=""> Your chick she
            so thirsty <br _ngcontent-c6=""> I'm in that two seat Lambo" </p>
        </div>
        <hr _ngcontent-c6="">
        <div _ngcontent-c6="" class="button-container"><button _ngcontent-c6=""
          class="btn btn-info btn-round btn-md" href="#">
            Send Request
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
  
      <div _ngcontent-c6="" class="card card-user">
        <div _ngcontent-c6="" class="image"></div>
        <div _ngcontent-c6="" class="card-body">
          <div _ngcontent-c6="" class="author"><a _ngcontent-c6="" href="#"><img _ngcontent-c6="" alt="..."
                class="avatar border-gray" src="../assets/img/doctor.png">
              <h5 _ngcontent-c6="" class="title">Mike Andrew</h5>
            </a>
            <p _ngcontent-c6="" class="description"> michael24 </p>
          </div>
          <p _ngcontent-c6="" class="description text-center"> "Lamborghini Mercy <br _ngcontent-c6=""> Your chick she
            so thirsty <br _ngcontent-c6=""> I'm in that two seat Lambo" </p>
        </div>
        <hr _ngcontent-c6="">
        <div _ngcontent-c6="" class="button-container">
            <button _ngcontent-c6=""
            class="btn btn-info btn-round btn-md" href="#">
              Send Request
            </button>
        </div>
      </div>
    </div> -->
    <div class="col-md-6 col-lg-4" *ngFor="let doctor of doctors; let i = index">
    <div class=" ">
      <div _ngcontent-c6="" class="card card-user">
        <div _ngcontent-c6="" class="image"></div>
        <div _ngcontent-c6="" class="card-body">
          <div _ngcontent-c6="" class="author"><a _ngcontent-c6="" href="#"><img _ngcontent-c6="" alt="..."
                class="avatar border-gray" src="../assets/img/doctor.png">
              <h5 _ngcontent-c6="" class="title">{{doctor.firstName}}</h5>
            </a>
            <p _ngcontent-c6="" class="description"> {{doctor.description}} </p>
          </div>
                   <p class="text-center">{{doctor.hospital}}</p>  
                   <p class="text-center">{{doctor.address}}</p>  
        </div>
        <hr _ngcontent-c6="">
        <div _ngcontent-c6="" class="button-container">
            <input type="submit" class="btn btn-info btn-round btn-md"  value="Send Request" (click)="sendRequest(doctor)">
          </div>
      </div>
    </div>
    </div>

  </div>

</div>