<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Physio Schedule</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="scheduleForm">
            <div class="row">


              <div class="col-md-6 pl-1">
                <div class="form-group">
                    <input type="text" placeholder="Date" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" class="form-control" bsDatepicker formControlName="date">       
                    <div [hidden]="scheduleForm.get('date').valid || (scheduleForm.get('date').pristine && !isScheduleFormSubmitted)">
                        <small class="bbk-field__message " *ngIf="scheduleForm.get('date').errors && scheduleForm.get('date').errors.required">
                          <i class="fa fa-info-circle u-color-danger"></i> Date is Required
                        </small>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Time(from)</label>
         
                  <timepicker [(ngModel)]="fromTime" formControlName="fromTime"></timepicker>
                  <div [hidden]="scheduleForm.get('fromTime').valid || (scheduleForm.get('fromTime').pristine && !isScheduleFormSubmitted)">
                      <small class="bbk-field__message " *ngIf="scheduleForm.get('fromTime').errors && scheduleForm.get('fromTime').errors.required">
                        <i class="fa fa-info-circle u-color-danger"></i> Time is Required
                      </small>
                    </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Time(to)</label>
              
                  <timepicker [(ngModel)]="toTime" formControlName="toTime" ></timepicker>
                  <div [hidden]="scheduleForm.get('toTime').valid || (scheduleForm.get('toTime').pristine && !isScheduleFormSubmitted)">
                      <small class="bbk-field__message " *ngIf="scheduleForm.get('toTime').errors && scheduleForm.get('toTime').errors.required">
                        <i class="fa fa-info-circle u-color-danger"></i> Time is Required
                      </small>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Address" formControlName="address"
                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                    <div [hidden]="scheduleForm.get('address').valid || (scheduleForm.get('address').pristine && !isScheduleFormSubmitted)">
                        <small class="bbk-field__message " *ngIf="scheduleForm.get('address').errors && scheduleForm.get('address').errors.required">
                          <i class="fa fa-info-circle u-color-danger"></i> Address is Required
                        </small>
                      </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" placeholder="City" value="Mike" formControlName="city">
                  <div [hidden]="scheduleForm.get('city').valid || (scheduleForm.get('city').pristine && !isScheduleFormSubmitted)">
                      <small class="bbk-field__message " *ngIf="scheduleForm.get('city').errors && scheduleForm.get('city').errors.required">
                        <i class="fa fa-info-circle u-color-danger"></i> City is Required
                      </small>
                    </div>
                </div>
              </div>
         
              <!-- <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" class="form-control" placeholder="ZIP Code" formControlName="zipCode">
                  <div [hidden]="scheduleForm.get('zipCode').valid || (scheduleForm.get('zipCode').pristine && !isScheduleFormSubmitted)">
                      <small class="bbk-field__message " *ngIf="scheduleForm.get('zipCode').errors && scheduleForm.get('zipCode').errors.required">
                        <i class="fa fa-info-circle u-color-danger"></i> Zip Code is Required
                      </small>
                    </div>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description"
                    value="Mike" formControlName="description"></textarea>
                    <div [hidden]="scheduleForm.get('date').valid || (scheduleForm.get('date').pristine && !isScheduleFormSubmitted)">
                        <small class="bbk-field__message " *ngIf="scheduleForm.get('date').errors && scheduleForm.get('date').errors.required">
                          <i class="fa fa-info-circle u-color-danger"></i> Date is Required
                        </small>
                      </div>
                  </div>
              </div>
            </div>
            <input type="submit" class="btnSave btn btn-info float-right" value="Save"
              (click)="saveSchedule()" />
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <!-- <div [ngModel]="*ngFor="let sedules of scheduleModels; let i = index></div> -->
          <!-- <h5 class="card-category">All Persons List</h5> -->
          <h4 class="card-title">Appoinments</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Time
                </th>
                <th>
                  Location
                </th>
                <th class="text-right">
                  Option
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Mrs.Jayakody
                  </td>
                  <td>
                    4pm-5pm
                  </td>
                  <td>
                    Wallawatta
                  </td>
                  <td class="text-right">
                     <button class="btn"><i>d</i></button>
                  </td>
                </tr>            
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>