.panel-header{
    background-image: url(https://assetsds.cdnedge.bluemix.net/sites/default/files/styles/big_2/public/feature/images/physiotherapy_0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

